header .bg-color {
  background-color: #000000; }

header .navbar {
  padding: 0px;
  height: 140px; }

header .container-fluid {
  margin-left: 1190px; }
  header .container-fluid a {
    color: #FFFCFF !important;
    transition-duration: 0.2s;
    height: 140px;
    padding: 0px 8px 0px 8px;
    margin: 0px 4px 0px 4px;
    line-height: 130px;
    border-radius: 3%; }
    header .container-fluid a:hover {
      color: #686868 !important;
      background-color: #FFEBE7; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
