.banner {
    width: 100%;
    height: 600px;
    animation: banner 15s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes banner {
    0%, 20% {
        background-image: url(../media/banner/banner1.jpg);
    }
    25%, 45% {
        background-image: url(../media/banner/banner2.jpg);
    }
    50%, 70% {
        background-image: url(../media/banner/banner3.jpg);
    }
    75%, 100% {
        background-image: url(../media/banner/banner4.jpg);
    }
}

.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
}

.info {
    z-index: 1;
    width: 100%;
    max-width: 550px;
    text-align: center;
}

.info h1 {
    color: #fff;
    font-size: 45px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.info p {
    color: #c7c7c7;
    line-height: 1.7;
    margin-bottom: 30px;
}

.quees__div {
    flex-direction: column;
    align-items: center;
}

.quees__div-h1 {
    margin-top: 60px;
    margin-bottom: 50px;
}

.quees__div-p {
    max-width: 75ch;
    font-size: 20px;
    margin-bottom: 50px;
}

.acordion {
    justify-content: space-around;
}

.accordion {
    width: 1200px;
    border-top: rgb(180, 180, 180) solid 1px;
    border-bottom: rgb(180, 180, 180) solid 1px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.accordion-header {
    transition-duration: 0.3s;
        &:hover {
            padding-left: 30px;
        }  
}

.accordion-button {
    font-size: 20px;
}

.accordion-body {
    color: rgb(51, 51, 51);
}

.imagenesRealesText {
    margin-top: 110px;
    margin-bottom: 50px;
}

.carruselCovid {
    justify-content: center;
    .carousel {
        width: 1200px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;        
        .primerFotoCovid {
            height: 770px;
        }
    }
}

/* SINTOMAS PAGE */

.section__sintomas {
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    .section__sintomas-p1 {
        margin-bottom: 40px;
    }
    .section__sintomas-p2 {
        width: 800px;
    }
}

.sintomas {
    background-color: rgb(167, 223, 190);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 700px;
    flex-direction: column;
    margin: 60px auto 160px auto;
    h6 {
        margin: 20px 0px 20px 50px;
    }
    .sintomas__divlist {
        flex-direction: row;
        justify-content: space-around;
    }
}

.divisorSecciones {
    height: 2px;
    width: 800px;
    background-color: rgb(75, 109, 89);
}

.section__enfermo {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    p {
        margin-bottom: 40px;
    }
    .section__enfermo-ul {
        margin-bottom: 50px;
    }
}

.div__diferencias {
    flex-direction: column;
    align-items: center;
    .div__diferencias-titulo {
        margin-right: 210px;
        img {
            margin-right: 200px;
        }
    }
    p {
        margin-top: 50px;
        width: 1000px;
    }
}

.section__cuidarse {
    flex-direction: column;
    margin: 200px 0px 0px 100px;
}

.section__cuidarseItems {
    flex-direction: column;
    width: 1150px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    div {
        padding-bottom: 30px;
        img {
            transition-duration: 0.5s;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            &:hover {
                width: 900px;
                height: 450px;
            }
        }
    }
}


