* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

article {
    margin-top: 140px;
    padding-bottom: 200px;
}

footer {
    height: 250px;
    padding-top: 40px;
    background-color: #275DAD;
    color: white;
    border-top: white solid 2px;
}